<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDo list application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
            <h1 class="title">Todo List</h1>
            <progress id="progress" class="progress w100" th:value="${progressPercentage}" max="100">Progress</progress>
            <div class="is-flex is-flex-direction-column w100">
                <form id="add-todo-form">
                    <input class="input is-info my-2" type="text" placeholder="Todo name" required>
                    <button class="button is-fullwidth is-medium is-primary" type="submit">Add todo</button>
                </form>
                <div id="todos-container" class="w100 mt-5">
                    <div th:each="todo: ${todoList}" th:id="${todo.id}" class="card mb-4 p-2 todo-card" th:data-iscompleted="${todo.isCompleted}" >
                        <div class="card-content is-flex is-justify-content-space-between is-align-items-center">
                            <h1 th:text="${todo.name}" class="todo-name mr-4" th:classappend="${todo.isCompleted} ? 'todo-done' : ''">name</h1>
                            <button class="delete is-danger todo-delete"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script th:src="@{/index.js}"></script>
</body>
</html>